
body {
  background-image: url("../record.png");
  background-repeat: repeat;
  margin: 0;
}

.info {
  width: 50%;
  margin: 0 auto;
}

header, .info h2, h3{
  background: #0074D9;
  color: white;
  text-align: center;
}

main {
  background: rgb(179, 179, 179);
  padding: 1em;
}

img {
  width: 100%;
}